*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

a{
    text-decoration: none;
    font-size: 23px;
    text-align: center;
    margin: 10px;
    color: #FCEADE;
    font-family: 'Montserrat', sans-serif;
}

nav{
    height: 29px;
    background: #DA4167;
    text-align: center;
    

    
}