input{
    margin: 29px;
    width: 200px;
}

.image{
    width: 350px;
    height: 300px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}

.article{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

h1,p,h4{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 15px;
    
}

h4{
    color: #DA4167;
}

button{
    margin: 25px;
    margin-right: 940px;
    width: 98px;
    height: 31px;
    font-family: 'Montserrat';

}


