input{
    margin: 29px;
}

.image{
    width: 350px;
    height: 300px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}

.article{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

h1,p,h4{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 15px;
    
}



